header{
    width: 100vw;
    height: 10vh;
    background-color: #3347B0;
    display: flex;
}
.brazao{
    text-align: center;
    width: 50%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
.nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
.button-leave{
    width: 50%;
    color:aliceblue;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    gap: 1%;
    cursor: pointer;
    font-size: 1.5rem;
}

@media (max-width: 320px)
{
  header
   {
    width: 100vw;
    height: 10vh;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    display: flex;
    background-color: #3347B0;
   }
   .button-leave{
    width: 50%;
    padding: 2%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    gap: 6%;
    cursor: pointer;
    font-size: 1.5rem;
}

}